html, body {
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

#content {
  height: 100%;
}

.routerView {
  height: 100%;
}

.frontPage {
  height: calc(100% - 100px * 2);
}

.main {
  font-size: 20px;
  height: 100px;
}

.feedlist-container {
  border: 2px solid #777;
  border-radius: 4px;
  width: 220px;
  margin-left: 10px;
  padding-left: 5px;
}

.feedlist-element {
  display: block;
  font-size: 16px;
  padding-bottom: 4px;
  padding-top: 4px;
  cursor: pointer;
}

.feedlist-element:active {
  font-weight: 600;
}

.feedlist-element-selected {
  font-weight: 600;
  display: block;
  font-size: 16px;
  padding-bottom: 4px;
  padding-top: 4px;
  cursor: pointer;
}

.insertFeed-container {
  width: 200px;
  margin: 16px 0px 10px 10px;
  border-radius: 4px;
  border: 1px solid #AAA;
}

.insertFeed-container-input {
  border: 0;
  width: calc(200px - 2px);
  outline: 0;
  margin: 2px;
}

.insertFeed-container-input-label {
  margin: 2px;
  border-radius: 4px;
  outline: 0;
}

.insertFeed-container-input-field {
  margin: 2px;
  border-radius: 4px;
  outline: 0;
}

.insertFeed-container-input-button {
  outline: 0;
  border: 1px #222 solid;
  border-radius: 4px;
  background-color: #666;
  color: #EEE;
  margin: 2px 2px 2px 4px;
}

.insertFeed-container-input-button:active {
  border: 2px #444 solid;
  padding-top: 0px;
}

.modal-ajax-spinner {
  margin: 15px;
}

.frontPage-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: calc(90% - 40px);
}

.feed-preview-container {
  border: 1px solid #AAA;
  border-radius: 4px;
  width: calc(100% - 200px);
  margin: 15px 10px 0;
}

