html, body {
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

#content {
  height: 100%;
}

.routerView {
  height: 100%;
}

.frontPage {
  height: calc(100% - 100px * 2);
}

.header-link {
  text-decoration: none;
}

.main {
  font-size: 20px;
  height: 100px;
}

.feedlist-container {
  border: 2px solid #777;
  border-radius: 4px;
  width: 400px;
  height: calc(90% - 100px);
  margin-left: 10px;
}

.feedlist-element {
  display: block;
  font-size: 16px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.feedlist-element-remove {
  cursor: pointer;
}

.insertFeed-container {

}

.ajax-loader {

}